xsd/uwsinopia.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="https://uwlib-cams.github.io/sinopia_maps/xsd/"
   xmlns:uwmaps="https://uwlib-cams.github.io/map_storage/xsd/"
   xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
   xmlns:xs="http://www.w3.org/2001/XMLSchema"
   targetNamespace="https://uwlib-cams.github.io/sinopia_maps/xsd/" elementFormDefault="qualified"
   vc:minVersion="1.1">
   <!-- IMPORT -->
   <xs:import namespace="http://www.w3.org/XML/1998/namespace"
      schemaLocation="http://www.w3.org/2001/03/xml.xsd"/>
   <xs:import namespace="http://www.w3.org/2001/XMLSchema"
      schemaLocation="https://www.w3.org/2001/XMLSchema.xsd"/>
   <xs:import namespace="https://uwlib-cams.github.io/map_storage/xsd/"
      schemaLocation="https://uwlib-cams.github.io/map_storage/xsd/prop_set.xsd"/>
   <!-- INCLUDE -->
   <xs:include schemaLocation="sinopia_maps.xsd"/>
   <xs:include schemaLocation="resources.xsd"/>
   <xs:include schemaLocation="formats.xsd"/>
   <xs:include schemaLocation="users.xsd"/>
   <!-- **************** sinopia **************** -->
   <xs:complexType name="sinopia_type">
      <xs:sequence>
         <xs:element name="toolkit" type="toolkit_type" minOccurs="1" maxOccurs="1"/>
         <xs:element name="guidance_set" type="guidance_set_type" minOccurs="0"
            maxOccurs="1"/>
         <xs:element name="implementation_set" type="implementation_set_type" minOccurs="1"
            maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="toolkit_type">
      <xs:attribute name="url" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:anyURI">
               <!-- IRI validation pattern -->
               <xs:pattern value="https?://\S*"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
   <!-- *************** guidance_set *************** -->
   <xs:complexType name="guidance_set_type">
      <xs:sequence>
         <xs:element name="general" type="general_type" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="entity_boundary" type="xs:boolean" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="recording_method" type="recording_method_type" minOccurs="0"
            maxOccurs="unbounded"/>
         <xs:element name="ses" type="general_type" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="transcription_standard" type="transcription_standard_type" minOccurs="0"
            maxOccurs="unbounded"/>
         <!-- options -->
         <xs:element name="mgds" type="mgds_type" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="examples" type="examples_type" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="general_type">
      <xs:all>
         <xs:element name="p" type="p_type" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element ref="ul" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element ref="ol" minOccurs="0" maxOccurs="unbounded"/>
      </xs:all>
      <xs:attribute name="rt_id" type="rt_id_type" use="required"/>
   </xs:complexType>
   <xs:complexType name="recording_method_type">
      <xs:all>
         <xs:element name="recording_method_option" type="recording_method_option_type"
            minOccurs="1" maxOccurs="4"/>
      </xs:all>
      <xs:attribute name="rt_id" type="rt_id_type" use="required"/>
   </xs:complexType>
   <xs:simpleType name="recording_method_option_type">
      <xs:restriction base="xs:string">
         <xs:enumeration value="unstructured description"/>
         <xs:enumeration value="structured description"/>
         <xs:enumeration value="identifier"/>
         <xs:enumeration value="IRI"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="transcription_standard_extension">
      <xs:restriction base="xs:string">
         <xs:enumeration value="basic"/>
         <xs:enumeration value="normalized"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="transcription_standard_type">
      <xs:simpleContent>
         <xs:extension base="transcription_standard_extension">
            <xs:attribute name="rt_id" type="rt_id_type" use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="mgds_type">
      <xs:all>
         <xs:element ref="ul" minOccurs="1" maxOccurs="1"/>
      </xs:all>
      <xs:attribute name="rt_id" type="rt_id_type" use="required"/>
   </xs:complexType>
   <xs:complexType name="examples_type">
      <xs:all>
         <xs:element name="p" type="simple_p_type"/>
      </xs:all>
      <xs:attribute name="rt_id" type="rt_id_type" use="required"/>
   </xs:complexType>
   <!-- 003_rt_ids_to_uwsinopia.xsl -->
   <xs:simpleType name="rt_id_type">
      <xs:restriction base="xs:string">
         <xs:enumeration value="default"/>
         <xs:enumeration value="UWSINOPIA:WAU:rdaWork:printMonograph:CAMS"/>
         <xs:enumeration value="UWSINOPIA:WAU:rdaWork:aggregating_printMonograph:CAMS"/>
         <xs:enumeration value="UWSINOPIA:WAU:rdaExpression:printMonograph:CAMS"/>
         <xs:enumeration value="UWSINOPIA:WAU:rdaExpression:aggregating_printMonograph:CAMS"/>
         <xs:enumeration value="UWSINOPIA:WAU:rdaManifestation:printMonograph:CAMS"/>
         <xs:enumeration value="UWSINOPIA:WAU:rdaItem:printMonograph:CAMS"/>
         <xs:enumeration value="UWSINOPIA:WAU:rdaNomen:accessPoint:CAMS"/>
         <xs:enumeration value="UWSINOPIA:WAU:rdaNomen:identifier:CAMS"/>
         <xs:enumeration value="UWSINOPIA:WAU:rdaEntity:test:ries07"/>
         <xs:enumeration value="UWSINOPIA:WAU:rdaEntity:standalone:ries07"/>
         <xs:enumeration value="UWSINOPIA:WAU:rdaWork:test:ries07"/>
         <xs:enumeration value="UWSINOPIA:WAU:rdaWork:test:cspayne"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="p_type" mixed="true">
      <xs:all>
         <xs:element name="strong" type="xs:token" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element ref="a" minOccurs="0" maxOccurs="unbounded"/>
      </xs:all>
   </xs:complexType>
   <xs:simpleType name="simple_p_type">
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:element name="a">
      <xs:complexType>
         <xs:simpleContent>
            <xs:extension base="xs:string">
               <xs:attribute name="href" type="xs:anyURI" use="required"/>
            </xs:extension>
         </xs:simpleContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="ul">
      <xs:complexType>
         <xs:all>
            <xs:element name="li" type="li" minOccurs="1" maxOccurs="unbounded"/>
         </xs:all>
      </xs:complexType>
   </xs:element>
   <xs:element name="ol">
      <xs:complexType>
         <xs:choice>
            <xs:element name="li" type="li" minOccurs="1" maxOccurs="unbounded"/>
         </xs:choice>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="li" mixed="true">
      <xs:all>
         <xs:element name="strong" type="xs:token" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element ref="a" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element ref="ul" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element ref="ol" minOccurs="0" maxOccurs="unbounded"/>
      </xs:all>
   </xs:complexType>
   <!-- *************** implementation_set *************** -->
   <xs:complexType name="implementation_set_type">
      <xs:annotation>
         <xs:documentation>Each implementation set can be used to store a single set of details for
            using the given property in Sinopia.</xs:documentation>
         <xs:documentation>These details can include specifications for whether the property
            template should prompt entry of a literal vs. an IRI, whether it is repeatable, and so
            forth.</xs:documentation>
         <xs:documentation>Each such setting is recorded in an element within the implementation
            set.</xs:documentation>
         <xs:documentation>The same implementation set--that is, the same details for implementing a
            property--can be used in multiple resource templates.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <!-- REQUIRED: institution / resource / format / user -->
         <xs:element name="institution" type="institution_type" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="resource" type="resource_label_type" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="format" type="format_type" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="user" type="user_type" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="form_order" type="form_order_type" minOccurs="1" maxOccurs="1"/>
         <!-- OPTIONAL: alt_pt_label / multiple_prop / remark_url / remark / 
            language_suppressed / required / repeatable -->
         <xs:element name="alt_pt_label" type="uwmaps:lang_string_type" minOccurs="0" maxOccurs="1"/>
         <xs:element name="multiple_prop" type="multiple_prop_type" minOccurs="0" maxOccurs="1"/>
         <xs:element name="remark_url" type="uwmaps:iri_type" minOccurs="0" maxOccurs="1"/>
         <xs:element name="remark" type="uwmaps:lang_string_type" minOccurs="0" maxOccurs="1"/>
         <!-- if language_suppressed == 1 *and* default literal has @xml:lang will anything break?? -->
         <xs:element name="language_suppressed" type="xs:boolean" minOccurs="0" maxOccurs="1"
            default="0">
            <xs:annotation>
               <xs:documentation>To indicate that any value provided for a given property template
                  will not have linguistic content, enter the `language_suppressed` element with
                  value 'true' or '1'.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="required" type="xs:boolean" minOccurs="0" maxOccurs="1" default="0">
            <xs:annotation>
               <xs:documentation>To indicate that a value must be provided for a given property
                  template, enter the `required` element with value 'true' or
                  '1'.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="repeatable" type="repeatable_type" minOccurs="0" maxOccurs="1"
            default="0"/>
         <!-- REQUIRED: EITHER literal_pt / uri_pt / lookup_pt / nested_resource_pt (+ subelements) -->
         <xs:choice>
            <xs:element name="literal_pt" type="literal_attributes_type"/>
            <xs:element name="uri_pt" type="uri_attributes_type"/>
            <xs:element name="lookup_pt" type="lookup_attributes_type"/>
            <xs:element name="nested_resource_pt" type="nested_resource_attributes_type"/>
         </xs:choice>
      </xs:sequence>
      <xs:attribute name="localid_implementation_set" type="uwmaps:localid_attr" use="required"/>
   </xs:complexType>
   <!-- form_order_type -->
   <xs:simpleType name="form_order_type">
      <xs:annotation>
         <xs:documentation>The form_order type value determines where this property template will
            appear in the resource template.</xs:documentation>
         <xs:documentation>Enter a decimal value between 0.0 and 1.0--any number of decimal places
            may be used.</xs:documentation>
         <xs:documentation>Property templates with *lower* form_order values will appear before
            those with *higher* values.</xs:documentation>
         <xs:documentation>For example, property templates (by form_order value) would appear in the
            following order: 0.001, 0.01, 0.5.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:decimal">
         <xs:minInclusive value="0.0"/>
         <xs:maxInclusive value="1.0"/>
      </xs:restriction>
   </xs:simpleType>
   <!-- multiple_prop element / subelements -->
   <xs:complexType name="multiple_prop_type">
      <xs:annotation>
         <xs:documentation>Enter the 'multiple_prop' element to create a drop-down property
            selection in the property template.</xs:documentation>
         <xs:documentation>When using the resource template for description, this will allow users
            to select from among the drop-down properties for use.</xs:documentation>
         <xs:documentation>Do not enter any text content in this element; use *either* the
            `all_subprops` subelement, or one or more `property_selection` subelements to specify
            which properties should be made available in the property template.</xs:documentation>
         <xs:documentation>To include all subproperties of the 'prop' element property in the
            drop-down, enter the `multiple_prop` &gt; 'all_subprops' child element with text content
            'true'.</xs:documentation>
         <xs:documentation>To select specific properties to include in the drop-down, use one or
            more 'property_selection' elements (as many as needed) to provide property IRIs and
            labels.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice>
            <xs:element name="property_selection" type="property_selection_type" minOccurs="1"
               maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>Use the property_selection element to enter a specific list of
                     properties to include as options in the property template.</xs:documentation>
                  <xs:documentation>Include a property IRI, and language tag as attribute values,
                     and a property label as child text.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="all_subprops" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
            <xs:element name="all_all_subprops" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="property_label">
      <xs:restriction base="xs:string">
         <xs:pattern value=".+"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="property_selection_type">
      <xs:annotation>
         <xs:documentation>Enter the full, non-prefixed property IRI as the content of the
            'property_iri' attribute.</xs:documentation>
         <xs:documentation>Enter a property label as the text content of the 'property'
            element.</xs:documentation>
      </xs:annotation>
      <xs:simpleContent>
         <xs:extension base="property_label">
            <xs:attribute name="property_iri" type="xs:anyURI" use="required"/>
            <xs:attribute ref="xml:lang" use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <!-- repeatable_type -->
   <xs:complexType name="repeatable_type">
      <xs:annotation>
         <xs:documentation>To indicate that a multiple values may be entered for a given property
            template, enter the `repeatable` element with value 'true' or '1'.</xs:documentation>
      </xs:annotation>
      <xs:simpleContent>
         <xs:extension base="xs:boolean">
            <xs:attribute name="ordered" type="xs:boolean">
               <xs:annotation>
                  <xs:documentation>To indicate that the order of multiple values for a repeatable
                     property should be preserved, use the `ordered` attribute with value 'true' or
                     '1'.</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <!-- remark: lang_string_type defined above -->
   <!-- ********** literal_pt element / subelements ********** -->
   <xs:complexType name="literal_attributes_type">
      <xs:sequence>
         <xs:choice>
            <xs:choice>
               <xs:element name="date_default" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
               <xs:element name="userId_default" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            </xs:choice>
            <xs:sequence>
               <xs:element name="default_literal" type="uwmaps:lang_string_type" minOccurs="0"
                  maxOccurs="1"/>
               <xs:choice>
                  <xs:element name="validation_datatype" type="validation_datatype_type"
                     minOccurs="0" maxOccurs="1"/>
                  <xs:element name="validation_regex" type="validation_regex_type" minOccurs="0"
                     maxOccurs="1"/>
               </xs:choice>
            </xs:sequence>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <!-- literal_attributes: lang_string_type defined above -->
   <xs:simpleType name="validation_datatype_type">
      <xs:restriction base="xs:string">
         <!-- can I have spaces in my enumerations?? -->
         <xs:enumeration value="Date and time with or without timezone"/>
         <xs:enumeration value="Date and time with required timezone"/>
         <xs:enumeration value="Extended Date/Time Format (EDTF)"/>
         <xs:enumeration value="Integer"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="validation_regex_type">
      <xs:restriction base="xs:string">
         <!-- how to validate a regex as a regex!?!? -->
      </xs:restriction>
   </xs:simpleType>
   <!-- ********** uri_pt element / subelements ********** -->
   <xs:complexType name="uri_attributes_type">
      <xs:sequence>
         <xs:element name="default_uri" type="uwmaps:iri_type" minOccurs="0" maxOccurs="1"/>
         <xs:element name="default_uri_label" type="uwmaps:lang_string_type" minOccurs="0"
            maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <!-- default_uri: iri_type defined above -->
   <!-- default_uri_label: lang_string_type defined above -->
   <!-- ********** lookup_pt element / subelements ********** -->
   <xs:complexType name="lookup_attributes_type">
      <xs:sequence>
         <xs:element name="authorities" type="authorities_type" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="lookup_default_iri" type="uwmaps:iri_type" minOccurs="0" maxOccurs="1"/>
         <xs:element name="lookup_default_iri_label" type="uwmaps:lang_string_type" minOccurs="0"
            maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authorities_type">
      <xs:sequence>
         <xs:element name="authority_urn" type="authority_urn_type" minOccurs="1"
            maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <!-- https://github.com/LD4P/sinopia_editor/blob/master/static/authorityConfig.json -->
   <!-- enumerate labels for data entry, replace with URNs when outputting RTs -->
   <xs:simpleType name="authority_urn_type">
      <xs:restriction base="xs:string">
         <xs:enumeration value="Sinopia resources"/>
         <xs:enumeration value="Sinopia BIBFRAME instance resources"/>
         <xs:enumeration value="Sinopia BIBFRAME work resources"/>
         <xs:enumeration value="Sinopia BIBFRAME item resources"/>
         <xs:enumeration value="Sinopia BIBFRAME admin metadata resources"/>
         <xs:enumeration value="Sinopia templates"/>
         <xs:enumeration value="Sinopia RDA manifestation"/>
         <xs:enumeration value="Sinopia RDA expression"/>
         <xs:enumeration value="Sinopia RDA work"/>
         <xs:enumeration value="Sinopia RDA item"/>
         <xs:enumeration value="Sinopia RDA nomen"/>
         <xs:enumeration value="AGROVOC (QA)"/>
         <xs:enumeration value="Bibbi authorities"/>
         <xs:enumeration value="Bibbi authorities Topic"/>
         <xs:enumeration value="Bibbi authorities Geographic"/>
         <xs:enumeration value="Bibbi authorities Event Name"/>
         <xs:enumeration value="Bibbi authorities Person"/>
         <xs:enumeration value="Bibbi authorities Person-Subject"/>
         <xs:enumeration value="Bibbi authorities Corporation"/>
         <xs:enumeration value="Bibbi authorities Corporation-Subject"/>
         <xs:enumeration value="Bibbi authorities Uniform Title"/>
         <xs:enumeration value="Bibbi authorities Work"/>
         <xs:enumeration value="Bibbi authorities Form"/>
         <xs:enumeration value="CERL (QA)"/>
         <xs:enumeration value="CERL person (QA)"/>
         <xs:enumeration value="CERL corporate_body (QA)"/>
         <xs:enumeration value="CERL imprint (QA)"/>
         <xs:enumeration value="DBPEDIA_(QA)"/>
         <xs:enumeration value="Discogs"/>
         <xs:enumeration value="Discogs Releases"/>
         <xs:enumeration value="Discogs Masters"/>
         <xs:enumeration value="GEONAMES all (QA)"/>
         <xs:enumeration value="GEONAMES area (QA)"/>
         <xs:enumeration value="GEONAMES place (QA)"/>
         <xs:enumeration value="GEONAMES area_and_place (QA)"/>
         <xs:enumeration value="GEONAMES water (QA)"/>
         <xs:enumeration value="GEONAMES park (QA)"/>
         <xs:enumeration value="GEONAMES road (QA)"/>
         <xs:enumeration value="GEONAMES spot (QA)"/>
         <xs:enumeration value="GEONAMES terrain (QA)"/>
         <xs:enumeration value="GEONAMES undersea (QA)"/>
         <xs:enumeration value="GEONAMES vegetation (QA)"/>
         <xs:enumeration value="GETTY_AAT all terms (QA)"/>
         <xs:enumeration value="GETTY_AAT Activities (QA)"/>
         <xs:enumeration value="GETTY_AAT Activities__Disciplines (QA)"/>
         <xs:enumeration value="GETTY_AAT Activities__Events (QA)"/>
         <xs:enumeration value="GETTY_AAT Activities__Functions (QA)"/>
         <xs:enumeration value="GETTY_AAT Activities__Physical_and_Mental (QA)"/>
         <xs:enumeration value="GETTY_AAT Activities__Processes_and_Techniques (QA)"/>
         <xs:enumeration value="GETTY_AAT Agents (QA)"/>
         <xs:enumeration value="GETTY_AAT Agents__Living_Organisms (QA)"/>
         <xs:enumeration value="GETTY_AAT Agents__Organizations (QA)"/>
         <xs:enumeration value="GETTY_AAT Agents__People (QA)"/>
         <xs:enumeration value="GETTY_AAT Associated_Concepts (QA)"/>
         <xs:enumeration value="GETTY_AAT Associated_Concepts__Associated_Concepts (QA)"/>
         <xs:enumeration value="GETTY_AAT Brand_Names (QA)"/>
         <xs:enumeration value="GETTY_AAT Brand_Names__Brand_Names (QA)"/>
         <xs:enumeration value="GETTY_AAT Materials (QA)"/>
         <xs:enumeration value="GETTY_AAT Materials__Materials (QA)"/>
         <xs:enumeration value="GETTY_AAT Objects (QA)"/>
         <xs:enumeration value="GETTY_AAT Objects__Built_Environment (QA)"/>
         <xs:enumeration value="GETTY_AAT Objects__Components (QA)"/>
         <xs:enumeration value="GETTY_AAT Objects__Furnishings_and_Equipment (QA)"/>
         <xs:enumeration value="GETTY_AAT Objects__Object_Genres (QA)"/>
         <xs:enumeration value="GETTY_AAT Objects__Object_Groupings and Systems (QA)"/>
         <xs:enumeration value="GETTY_AAT Objects__Visual_and_Verbal_Communication (QA)"/>
         <xs:enumeration value="GETTY_AAT Physical_Attributes (QA)"/>
         <xs:enumeration value="GETTY_AAT Physical_Attributes__Attributes_and_Properties (QA)"/>
         <xs:enumeration value="GETTY_AAT Physical_Attributes__Color (QA)"/>
         <xs:enumeration value="GETTY_AAT Physical_Attributes__Conditions_and_Effects (QA)"/>
         <xs:enumeration value="GETTY_AAT Physical_Attributes__Design_Elements (QA)"/>
         <xs:enumeration value="GETTY_AAT Styles_and_Periods (QA)"/>
         <xs:enumeration value="GETTY_AAT Styles_and_Periods__Styles_and_Periods (QA)"/>
         <xs:enumeration value="GETTY_TGN (QA)"/>
         <xs:enumeration value="GETTY_ULAN (QA)"/>
         <xs:enumeration value="GETTY_ULAN person (QA)"/>
         <xs:enumeration value="GETTY_ULAN organization (QA)"/>
         <xs:enumeration value="Homosaurus"/>
         <xs:enumeration value="Humord"/>
         <xs:enumeration value="ISNI (QA)"/>
         <xs:enumeration value="Ligatus (QA)"/>
         <xs:enumeration value="LOC carriers [vocabularies] (QA)"/>
         <xs:enumeration value="LOC content types [vocabularies] (QA)"/>
         <xs:enumeration value="LOC description conventions [vocabularies] (QA)"/>
         <xs:enumeration value="LOC frequencies [vocabularies] (QA)"/>
         <xs:enumeration value="LOC issuance [vocabularies] (QA)"/>
         <xs:enumeration value="LOC authentication action [vocabularies] (QA)"/>
         <xs:enumeration value="LOC aspect ratio [vocabularies] (QA)"/>
         <xs:enumeration value="LOC intended audience [vocabularies] (QA)"/>
         <xs:enumeration value="LOC broadcast standard [vocabularies] (QA)"/>
         <xs:enumeration value="LOC sound and capture storage [vocabularies] (QA)"/>
         <xs:enumeration value="LOC color content [vocabularies] (QA)"/>
         <xs:enumeration value="LOC media types [vocabularies] (QA)"/>
         <xs:enumeration value="LOC encoding format [vocabularies] (QA)"/>
         <xs:enumeration value="LOC encoding level [vocabularies] (QA)"/>
         <xs:enumeration value="LOC file type [vocabularies] (QA)"/>
         <xs:enumeration value="LOC font size [vocabularies] (QA)"/>
         <xs:enumeration value="LOC generation list [vocabularies] (QA)"/>
         <xs:enumeration value="LOC government publication type [vocabularies] (QA)"/>
         <xs:enumeration value="LOC groove width, pitch, cutting [vocabularies] (QA)"/>
         <xs:enumeration value="LOC illustrative content [vocabularies] (QA)"/>
         <xs:enumeration value="LOC layout [vocabularies] (QA)"/>
         <xs:enumeration value="LOC notated music form [vocabularies] (QA)"/>
         <xs:enumeration value="LOC music notation [vocabularies] (QA)"/>
         <xs:enumeration value="LOC playback [vocabularies] (QA)"/>
         <xs:enumeration value="LOC playing speed [vocabularies] (QA)"/>
         <xs:enumeration value="LOC polarity [vocabularies] (QA)"/>
         <xs:enumeration value="LOC presentation format [vocabularies] (QA)"/>
         <xs:enumeration value="LOC production method [vocabularies] (QA)"/>
         <xs:enumeration value="LOC projection [vocabularies] (QA)"/>
         <xs:enumeration value="LOC punctuation conventions [vocabularies] (QA)"/>
         <xs:enumeration value="LOC recording medium [vocabularies] (QA)"/>
         <xs:enumeration value="LOC recording type [vocabularies] (QA)"/>
         <xs:enumeration value="LOC reduction ratio [vocabularies] (QA)"/>
         <xs:enumeration value="LOC regional encoding [vocabularies] (QA)"/>
         <xs:enumeration value="LOC relief [vocabularies] (QA)"/>
         <xs:enumeration value="LOC scale [vocabularies] (QA)"/>
         <xs:enumeration value="LOC script [vocabularies] (QA)"/>
         <xs:enumeration value="LOC sound content [vocabularies] (QA)"/>
         <xs:enumeration value="LOC special playback characteristics [vocabularies] (QA)"/>
         <xs:enumeration value="LOC status [vocabularies] (QA)"/>
         <xs:enumeration value="LOC supplemental content [vocabularies] (QA)"/>
         <xs:enumeration value="LOC tactile [vocabularies] (QA)"/>
         <xs:enumeration value="LOC tape configuration [vocabularies] (QA)"/>
         <xs:enumeration value="LOC technique [vocabularies] (QA)"/>
         <xs:enumeration value="LOC video format [vocabularies] (QA)"/>
         <xs:enumeration value="LOC relators [vocabularies] (QA)"/>
         <xs:enumeration value="LOC resource components [vocabularies] (QA)"/>
         <xs:enumeration value="LOC cultural heritage organizations (QA)"/>
         <xs:enumeration value="LOC MARC countries (QA)"/>
         <xs:enumeration value="LOC demographics (QA)"/>
         <xs:enumeration value="LOC performance (QA)"/>
         <xs:enumeration value="LOC all genres (QA)"/>
         <xs:enumeration value="LOC active [genres] (QA)"/>
         <xs:enumeration value="LOC deprecated [genres] (QA)"/>
         <xs:enumeration value="LOC all names (QA)"/>
         <xs:enumeration value="LOC person [names (rwo)] (QA)"/>
         <xs:enumeration value="LOC organization [names (rwo)] (QA)"/>
         <xs:enumeration value="LOC family [names (rwo)] (QA)"/>
         <xs:enumeration value="LOC geographic [names] (QA)"/>
         <xs:enumeration value="LOC conference [names] (QA)"/>
         <xs:enumeration value="LOC all subjects (QA)"/>
         <xs:enumeration value="MESH subjects (QA)"/>
         <xs:enumeration value="MESH publication types (QA)"/>
         <xs:enumeration value="MESH geographic (QA)"/>
         <xs:enumeration value="NALT (QA)"/>
         <xs:enumeration value="Norwegian thesaurus on Genre and Form"/>
         <xs:enumeration value="OCLCFAST (QA) - cache"/>
         <xs:enumeration value="OCLCFAST Topic (QA) - cache"/>
         <xs:enumeration value="OCLCFAST Event Name (QA) - cache"/>
         <xs:enumeration value="OCLCFAST Personal Name (QA) - cache"/>
         <xs:enumeration value="OCLCFAST Corporate Name (QA) - cache"/>
         <xs:enumeration value="OCLCFAST Geographic (QA) - cache"/>
         <xs:enumeration value="OCLCFAST Meeting (QA) - cache"/>
         <xs:enumeration value="OCLCFAST Period (QA) - cache"/>
         <xs:enumeration value="OCLCFAST Form (QA) - cache"/>
         <xs:enumeration value="OCLCFAST Uniform Title (QA) - cache"/>
         <xs:enumeration value="OCLCFAST Topic (QA) - direct"/>
         <xs:enumeration value="OCLCFAST Geographic (QA) - direct"/>
         <xs:enumeration value="OCLCFAST Event Name (QA) - direct"/>
         <xs:enumeration value="OCLCFAST Personal Name (QA) - direct"/>
         <xs:enumeration value="OCLCFAST Corporate Name (QA) - direct"/>
         <xs:enumeration value="OCLCFAST Uniform Title (QA) - direct"/>
         <xs:enumeration value="OCLCFAST Period (QA) - direct"/>
         <xs:enumeration value="OCLCFAST Form (QA) - direct"/>
         <xs:enumeration value="OCLCFAST Meeting (QA) - direct"/>
         <xs:enumeration value="RDA Registry aspect ratio designation (QA)"/>
         <xs:enumeration value="RDA Registry bibliographic format (QA)"/>
         <xs:enumeration value="RDA Registry broadcast standard (QA)"/>
         <xs:enumeration value="RDA Registry carrier type (QA)"/>
         <xs:enumeration value="RDA Registry cartographic data type (QA)"/>
         <xs:enumeration value="RDA Registry colour content (QA)"/>
         <xs:enumeration value="RDA Registry configuration of playback channels (QA)"/>
         <xs:enumeration value="RDA Registry content type (QA)"/>
         <xs:enumeration value="RDA Registry file type (QA)"/>
         <xs:enumeration value="RDA Registry font size (QA)"/>
         <xs:enumeration value="RDA Registry form of musical notation (QA)"/>
         <xs:enumeration value="RDA Registry form of notated movement (QA)"/>
         <xs:enumeration value="RDA Registry form of tactile notation (QA)"/>
         <xs:enumeration value="RDA Registry format of notated music (QA)"/>
         <xs:enumeration value="RDA Registry frequency (QA)"/>
         <xs:enumeration value="RDA Registry gender (QA)"/>
         <xs:enumeration value="RDA Registry generation (QA)"/>
         <xs:enumeration value="RDA Registry groove pitch of an analog cylinder (QA)"/>
         <xs:enumeration value="RDA Registry groove width of an analog disc (QA)"/>
         <xs:enumeration value="RDA Registry illustrative content (QA)"/>
         <xs:enumeration value="RDA Registry layout (QA)"/>
         <xs:enumeration value="RDA Registry material (QA)"/>
         <xs:enumeration value="RDA Registry media type (QA)"/>
         <xs:enumeration value="RDA Registry mode of issuance (QA)"/>
         <xs:enumeration value="RDA Registry polarity (QA)"/>
         <xs:enumeration value="RDA Registry presentation format (QA)"/>
         <xs:enumeration value="RDA Registry production method (QA)"/>
         <xs:enumeration value="RDA Registry recording medium (QA)"/>
         <xs:enumeration value="RDA Registry recording sources (QA)"/>
         <xs:enumeration value="RDA Registry reduction ratio designation (QA)"/>
         <xs:enumeration value="RDA Registry regional encoding (QA)"/>
         <xs:enumeration value="RDA Registry scale designation (QA)"/>
         <xs:enumeration value="RDA Registry sound content (QA)"/>
         <xs:enumeration value="RDA Registry special playback characteristics (QA)"/>
         <xs:enumeration value="RDA Registry status of identification (QA)"/>
         <xs:enumeration value="RDA Registry terms (QA)"/>
         <xs:enumeration value="RDA Registry track configuration (QA)"/>
         <xs:enumeration value="RDA Registry type of binding (QA)"/>
         <xs:enumeration value="RDA Registry type of recording (QA)"/>
         <xs:enumeration value="RDA Registry video format (QA)"/>
         <xs:enumeration value="SHAREVDE PCC Opus (QA) - cache"/>
         <xs:enumeration value="SHAREVDE PCC Work (QA) - cache"/>
         <xs:enumeration value="SHAREVDE PCC Instance (QA) - cache"/>
         <xs:enumeration value="SHAREVDE ALBERTA (QA)"/>
         <xs:enumeration value="SHAREVDE ALBERTA work (QA)"/>
         <xs:enumeration value="SHAREVDE ALBERTA superwork (QA)"/>
         <xs:enumeration value="SHAREVDE ALBERTA instance (QA)"/>
         <xs:enumeration value="SHAREVDE CHICAGO (QA)"/>
         <xs:enumeration value="SHAREVDE CHICAGO work (QA)"/>
         <xs:enumeration value="SHAREVDE CHICAGO superwork (QA)"/>
         <xs:enumeration value="SHAREVDE CHICAGO instance (QA)"/>
         <xs:enumeration value="SHAREVDE CORNELL (QA)"/>
         <xs:enumeration value="SHAREVDE CORNELL work (QA)"/>
         <xs:enumeration value="SHAREVDE CORNELL superwork (QA)"/>
         <xs:enumeration value="SHAREVDE CORNELL instance (QA)"/>
         <xs:enumeration value="SHAREVDE CU BOULDER (QA)"/>
         <xs:enumeration value="SHAREVDE CU BOULDER work (QA)"/>
         <xs:enumeration value="SHAREVDE CU BOULDER superwork (QA)"/>
         <xs:enumeration value="SHAREVDE CU BOULDER instance (QA)"/>
         <xs:enumeration value="SHAREVDE DUKE (QA)"/>
         <xs:enumeration value="SHAREVDE DUKE work (QA)"/>
         <xs:enumeration value="SHAREVDE DUKE superwork (QA)"/>
         <xs:enumeration value="SHAREVDE DUKE instance (QA)"/>
         <xs:enumeration value="SHAREVDE FRICK (QA)"/>
         <xs:enumeration value="SHAREVDE FRICK work (QA)"/>
         <xs:enumeration value="SHAREVDE FRICK superwork (QA)"/>
         <xs:enumeration value="SHAREVDE FRICK instance (QA)"/>
         <xs:enumeration value="SHAREVDE HARRYRANSOM (QA)"/>
         <xs:enumeration value="SHAREVDE HARRYRANSOM work (QA)"/>
         <xs:enumeration value="SHAREVDE HARRYRANSOM superwork (QA)"/>
         <xs:enumeration value="SHAREVDE HARRYRANSOM instance (QA)"/>
         <xs:enumeration value="SHAREVDE HARVARD (QA)"/>
         <xs:enumeration value="SHAREVDE HARVARD work (QA)"/>
         <xs:enumeration value="SHAREVDE HARVARD superwork (QA)"/>
         <xs:enumeration value="SHAREVDE HARVARD instance (QA)"/>
         <xs:enumeration value="SHAREVDE MICHIGAN (QA)"/>
         <xs:enumeration value="SHAREVDE MICHIGAN work (QA)"/>
         <xs:enumeration value="SHAREVDE MICHIGAN superwork (QA)"/>
         <xs:enumeration value="SHAREVDE MICHIGAN instance (QA)"/>
         <xs:enumeration value="SHAREVDE MINNESOTA (QA)"/>
         <xs:enumeration value="SHAREVDE MINNESOTA work (QA)"/>
         <xs:enumeration value="SHAREVDE MINNESOTA superwork (QA)"/>
         <xs:enumeration value="SHAREVDE MINNESOTA instance (QA)"/>
         <xs:enumeration value="SHAREVDE NLM (QA)"/>
         <xs:enumeration value="SHAREVDE NLM work (QA)"/>
         <xs:enumeration value="SHAREVDE NLM superwork (QA)"/>
         <xs:enumeration value="SHAREVDE NLM instance (QA)"/>
         <xs:enumeration value="SHAREVDE NORTHWESTERN (QA)"/>
         <xs:enumeration value="SHAREVDE NORTHWESTERN work (QA)"/>
         <xs:enumeration value="SHAREVDE NORTHWESTERN superwork (QA)"/>
         <xs:enumeration value="SHAREVDE NORTHWESTERN instance (QA)"/>
         <xs:enumeration value="SHAREVDE PRINCETON (QA)"/>
         <xs:enumeration value="SHAREVDE PRINCETON work (QA)"/>
         <xs:enumeration value="SHAREVDE PRINCETON superwork (QA)"/>
         <xs:enumeration value="SHAREVDE PRINCETON instance (QA)"/>
         <xs:enumeration value="SHAREVDE STANFORD (QA)"/>
         <xs:enumeration value="SHAREVDE STANFORD work (QA)"/>
         <xs:enumeration value="SHAREVDE STANFORD superwork (QA)"/>
         <xs:enumeration value="SHAREVDE STANFORD instance (QA)"/>
         <xs:enumeration value="SHAREVDE TEXASAM (QA)"/>
         <xs:enumeration value="SHAREVDE TEXASAM work (QA)"/>
         <xs:enumeration value="SHAREVDE TEXASAM superwork (QA)"/>
         <xs:enumeration value="SHAREVDE TEXASAM instance (QA)"/>
         <xs:enumeration value="SHAREVDE UCDAVIS work (QA)"/>
         <xs:enumeration value="SHAREVDE UCDAVIS superwork (QA)"/>
         <xs:enumeration value="SHAREVDE UCDAVIS instance (QA)"/>
         <xs:enumeration value="SHAREVDE UCSD (QA)"/>
         <xs:enumeration value="SHAREVDE UCSD work (QA)"/>
         <xs:enumeration value="SHAREVDE UCSD superwork (QA)"/>
         <xs:enumeration value="SHAREVDE UCSD instance (QA)"/>
         <xs:enumeration value="SHAREVDE UPENN (QA)"/>
         <xs:enumeration value="SHAREVDE UPENN work (QA)"/>
         <xs:enumeration value="SHAREVDE UPENN superwork (QA)"/>
         <xs:enumeration value="SHAREVDE UPENN instance (QA)"/>
         <xs:enumeration value="SHAREVDE UWASHINGTON (QA)"/>
         <xs:enumeration value="SHAREVDE UWASHINGTON work (QA)"/>
         <xs:enumeration value="SHAREVDE UWASHINGTON superwork (QA)"/>
         <xs:enumeration value="SHAREVDE UWASHINGTON instance (QA)"/>
         <xs:enumeration value="SHAREVDE YALE (QA)"/>
         <xs:enumeration value="SHAREVDE YALE work (QA)"/>
         <xs:enumeration value="SHAREVDE YALE superwork (QA)"/>
         <xs:enumeration value="SHAREVDE YALE instance (QA)"/>
         <xs:enumeration value="Wikidata (QA)"/>
         <xs:enumeration value="Publisher Cities"/>
         <xs:enumeration value="MARC relator terms"/>
         <xs:enumeration value="carrier"/>
         <xs:enumeration value="class schedule used"/>
         <xs:enumeration value="color"/>
         <xs:enumeration value="content type"/>
         <xs:enumeration value="description authentication"/>
         <xs:enumeration value="description conventions"/>
         <xs:enumeration value="encoding level"/>
         <xs:enumeration value="illustrative content"/>
         <xs:enumeration value="intended audience"/>
         <xs:enumeration value="language"/>
         <xs:enumeration value="media type"/>
         <xs:enumeration value="mode of issuance"/>
         <xs:enumeration value="material"/>
         <xs:enumeration value="aspect ratio"/>
         <xs:enumeration value="broadcast standard"/>
         <xs:enumeration value="file type"/>
         <xs:enumeration value="form of musical notation"/>
         <xs:enumeration value="format of notated music"/>
         <xs:enumeration value="frequency"/>
         <xs:enumeration value="generation"/>
         <xs:enumeration value="genre/form scheme"/>
         <xs:enumeration value="groove characteristics"/>
         <xs:enumeration value="layout"/>
         <xs:enumeration value="playback channels"/>
         <xs:enumeration value="playing speed"/>
         <xs:enumeration value="polarity"/>
         <xs:enumeration value="presentation format"/>
         <xs:enumeration value="projection"/>
         <xs:enumeration value="production method"/>
         <xs:enumeration value="recording medium"/>
         <xs:enumeration value="regional encoding"/>
         <xs:enumeration value="relief"/>
         <xs:enumeration value="scale"/>
         <xs:enumeration value="sound capture and storage"/>
         <xs:enumeration value="sound content"/>
         <xs:enumeration value="special playback characteristics"/>
         <xs:enumeration value="subject schemes"/>
         <xs:enumeration value="status"/>
         <xs:enumeration value="type of recording"/>
         <xs:enumeration value="propertyAttribute"/>
         <xs:enumeration value="uriAttribute"/>
         <xs:enumeration value="property type"/>
         <xs:enumeration value="authorities"/>
         <xs:enumeration value="resourceAttribute"/>
         <xs:enumeration value="literal validation data type"/>
         <xs:enumeration value="literalPropertyAttribute"/>
      </xs:restriction>
   </xs:simpleType>
   <!-- lookup_default_iri: iri_type defined above -->
   <!-- lookup_default_iri_label: lang_string_type defined above -->
   <!-- ********** nested_resource_pt element / subelements ********** -->
   <xs:complexType name="nested_resource_attributes_type">
      <xs:sequence>
         <xs:element name="rt_id" type="rt_id_type" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
